__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

.env
.env/
.venv/
ENV/
env/
venv/
venv.bak/
!example.env

.ipynb_checkpoints

*.log

htmlcov/
.tox/
.nox/
.coverage
*.cover
.hypothesis/
.pytest_cache/
nosetests.xml
coverage.xml
*.coveragerc
*.pytest_cache/

.mypy_cache/
.dmypy.json
dmypy.json

.pylint.d/

.vscode/
*.code-workspace
